
#map { height: 100%; overflow: hidden; }
#mapCanvas { width: 100%; height: 96%; }
#mapLoadingMessage { display: none; border-radius: 10px; background: rgba(0, 0, 0, .6); color: #fff; position: fixed; z-index: 999; width: 10em; height: 3em; margin: auto; padding: 0; top: 0; bottom: 0; left: 0; right: 0; }
#mapLoadingMessage p { text-align: center; margin: 0; padding: 0; height: 3em; line-height: 3em; font-family: Helvetica, Arial, sans-serif; }

/* iPad, landscape */
@media only screen and (device-width: 768px) and (orientation: landscape) {
    #mapCanvas { height: 705px; }
}

/* iPad, portrait */
@media only screen and (device-width: 768px) and (orientation: portrait) {
    #mapCanvas { height: 961px; }
}

/* iPhone, landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    #mapCanvas { height: 257px; }
}

/* iPhone, portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    #mapCanvas { height: 417px; }
}

